header {
  background-color:#adacac;
  position: fixed;
  top:0;
  right:0;
  padding-right:6%;
  padding-left:100%;
    height:60px;
}


.menu ul {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  margin-top:4px;
}


.menu a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 7px 6px;
  text-transform: uppercase;
  letter-spacing: .27em;

}
.book_a{
background-color: #adacac;
display:flex;
width: 80%;
}
.img_b {
padding-top: 2px;
padding-right:5px;
}
a:hover {
transition: background-color 0.5s;
background-color: #33FF99;
}
.text {
padding-top: 60px;
}
.menu li{
padding-right:5%;
}
.book_a {
text-decoration:none;
float: left;
padding:0px 10px 0px 10px;
border: 2px solid black;
background:white;
}

