{% load static %}
<html>
<head><title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
<header>
    <div class="menu">
        <ul>
            <li><a href="/ab">Добавить книгу</a></li>
            <li><a href="/admin">авторизация</a></li>
            <li><a href="/admin">Регистрация</a></li>
        </ul>
    </div>
</header>
<div class="text"><h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h1>ww</h1>
    <h5>dsabfsdofgnosdn


        sdfs
        df
        sdf
        sdf
        sd
        fsd
        f
        sdf
        sd
        f
        sdf
        sd
        fsd
        f
        sdf
        sd
        fsd
        f
        sd
        fs
        fs
        df
        sdf
        sd
        fsd
        f
        sf
        sd
        fsd
        f
        sdf
        s
        df
        sdf
        s
        df
        s
        df</h5>
    <h1>ww</h1>
</div>
</body>
</html>
