<!DOCTYPE html>
{% load static %}
<html>
<head><title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
<header>
    <div class="menu">
        <ul>
            {% if req.user.is_authenticated %}
            <li><a href="/personal_account?page=1">Личный кабинет</a></li>
            <li><a href="/logout">Выйти</a></li>
            <li><a><img src="{%static 'img/logo.png'%}" width="40" height="40"></a></li>
            {% elif not req.user.is_authenticated %}
            <li><a href="/authen">авторизация</a></li>
            <li><a href="/reg">Регистрация</a></li>
            <li><a><img src="{%static 'img/logo.png'%}" width="40" height="40"></a></li>
            {% endif %}
        </ul>
    </div>
</header>
<div class="text">
    <form method="POST" style="width:192px;float:right;display:block;">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Применить">
    </form>
    <div>
        <p>{{text}}</p>
        {% for e in page %}
        <a href="book/{{e.name}}" style="color:black;" class="book_a">
            <img src="{{ MEDIA_URL }}{{e.file_img.name}}" width="80" height="80" class="img_b">
            <div class="q1">
                <p>{{ e.name }}</p>
                {% for auth in e.created_book.all %}
                <p>{{ auth.name }}</p>
                {% endfor %}
            </div>
        </a>
        {% endfor %}
        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Назад</a>
        {% endif %}
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Вперед</a>
        {% endif %}
    </div>
</div>
</body>
</html>
