{% load static %}
<html>
<head><title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
<header>
    <div class="menu">
        <ul>
            {% if req.user.is_authenticated %}
            <li><a href="/my_book?page=1">Ваши книги</a></li>
            <li><a href="/logout">Выйти</a></li>
            <li><a><img src="{%static 'img/logo.png'%}" width="40" height="40"></a></li>
            {% elif not req.user.is_authenticated %}
            <li><a href="/authen">авторизация</a></li>
            <li><a href="/reg">Регистрация</a></li>
            <li><a><img src="{%static 'img/logo.png'%}" width="40" height="40"></a></li>
            {% endif %}
        </ul>
    </div>
</header>
<div class="text">
    {% for e in page %}
    <a href="book/{{e.name}}" style="color:black;" class="book_a">
        <img src="{{e.file_img.path}}">
        <p>{{ e.name }}</p>
        {% for auth in e.auth.all %}
        <p>{{ auth.name }} {{auth.surname}}</p>
        {% endfor %}
    </a>
    {% endfor %}

    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">Назад</a>
    {% endif %}
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}">Вперед</a>
    {% endif %}
</div>
</body>
</html>
